.note{
    color: rgb(68, 70, 75);
    height: 150px;
    width : 300px;
    background-color: rgb(248, 155, 155);
    position: relative;
    border-radius: 10px;
    border-color: black;
    left: 120px;
    top: 80px;
    
    
}

.note1{
    /* bottom: 100px; */
   display :flex;
   position: relative;
   align-items: center;
   bottom : -50px;
   justify-content: space-between;

}
